<!DOCTYPE html>
<html>
    <head>
        <title>Sozin's test blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Sozin's test blog</a></h1>
        </header>

        <article>
            <time>published: 16.07.2022, 03:12</time>
            <h2><a href="">My first post</a></h2>
            <p>Всегда есть кто-то красивее, смешнее, умнее, сексуальнее, продуктивнее чем Вы. Но никто и никогда не сможет вызвать у людей такие же чувства и эмоции, как Вы. Вопрос лишь в том, как Вы к этому относитесь — с чувством вечного соперничества или с осознанием своей уникальности.</p>
        </article>

        <article>
            <time>published: 16.07.2022, 03:12</time>
            <h2><a href="">My second post</a></h2>
            <p>Мы все жаждем любви, ошибочно принимая за нее влюбленность и эйфорию первых встреч..
                Но чуть нас затрагивают трудности, сталкиваются интересы двух, "как оказалось", абсолютно разных людей, разбегаемся в разные стороны. 
                А ведь именно в этот момент и должна зарождатся настоящая любовь, основанная на взаимных жертвах, терпении, понимании и доверии.</p>
        </article>
    </body>
</html>